/*================================== ESTILIZAÇÃO DO BODY ==================================*/
body 
{
    overflow-x: hidden;
}

/*================================== ESTILIZAÇÃO DA MAIN ==================================*/
main
{
    background-color: #99A3A4;
}

/*================================== ESTILIZAÇÃO DO HEADER ==================================*/
header
{
    background-color: black;
}

/*================================== ESTILIZAÇÃO DOS COMPONENTES DO HEADER ==================================*/
.minhaLogo
{
    border-radius: 20%;
}

.meuNome
{
    color: white;
    color: #99A3A4;
    text-align: center;
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Urbanist', sans-serif;
    font-size: 300%;
}

.meuNome:hover
{
    transform: scale(1.1);
    color: white;
    transition: 0.2s;
}

.inicio
{
    margin-right: 1%;
    color: #99A3A4;
    text-decoration: none;
}

.inicio:hover
{
    transform: scale(1.2);
    color: white;
    transition: 0.2s;
    text-decoration: none;
}

/*================================== ESTILIZAÇÃO DO SOBRE MIM ==================================*/
.tituloSobreMim
{
    color: #000000;
    text-align: center;
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Urbanist', sans-serif;
    font-size: 300%;
}

.tituloSobreMim:hover
{
    transform: scale(1.1);
    color: white;
    transition: 0.2s;
}

.minhaDesc
{

    text-indent: 3%;
    color: #000000;
    text-align: center;
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Urbanist', sans-serif;
    font-size: 150%;
    font-weight: bold;
}

/*================================== ESTILIZAÇÃO DOS CARDS ==================================*/
#sobreMim .card
{
    margin: 1%;
    height: 400px;
}

#sobreMim .card img
{
    height: 320px;
}

.card-body
{
    background-color: #99A3A4;
}

.familia img,
.hobbies img
{
    height: 100%;
}

.card-title
{
    text-align: center;
}

.nomeImagem
{
    color: white;
}
/*================================== ESTILIZAÇÃO DO MINHA FAMILIA ==================================*/
.tituloMinhaFamilia
{
    color: #000000;
    text-align: center;
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Urbanist', sans-serif;
    font-size: 300%;
}

.tituloMinhaFamilia:hover
{
    transform: scale(1.1);
    color: white;
    transition: 0.2s;
}

.descMinhaFamilia
{
    text-indent: 3%;
    color: black;
    text-align: center;
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Urbanist', sans-serif;
    font-size: 150%;
    font-weight: bold;
}

/*================================== ESTILIZAÇÃO DAS COISAS QUE ME FAZEM BEM ==================================*/
.tituloHobbies
{
    color: #000000;
    text-align: center;
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Urbanist', sans-serif;
    font-size: 300%;
}

.tituloHobbies:hover
{
    transform: scale(1.1);
    color: white;
    transition: 0.2s;
}

.descMeusHobbies
{
    text-indent: 3%;
    color: black;
    text-align: center;
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Urbanist', sans-serif;
    font-size: 150%;
    font-weight: bold;
}

.descBaska
{
    text-indent: 3%;
    color: black;
    text-align: center;
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Urbanist', sans-serif;
    font-size: 150%;
    font-weight: bold;
}

.descAcad
{
    text-indent: 3%;
    color: black;
    text-align: center;
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Urbanist', sans-serif;
    font-size: 150%;
    font-weight: bold;
}

.descPedal
{
    text-indent: 3%;
    color: black;
    text-align: center;
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Urbanist', sans-serif;
    font-size: 150%;
    font-weight: bold;
}

.descNatur
{
    text-indent: 3%;
    color: black;
    text-align: center;
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Urbanist', sans-serif;
    font-size: 150%;
    font-weight: bold;
}

.descCar
{
    text-indent: 3%;
    color: black;
    text-align: center;
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Urbanist', sans-serif;
    font-size: 150%;
    font-weight: bold;
}

.descProg
{
    text-indent: 3%;
    color: black;
    text-align: center;
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Urbanist', sans-serif;
    font-size: 150%;
    font-weight: bold;
}

.descCubMu
{
    text-indent: 3%;
    color: black;
    text-align: center;
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Urbanist', sans-serif;
    font-size: 150%;
    font-weight: bold;
}

/*================================== ESTILIZAÇÃO DO CURRICULO ==================================*/
.tituloCurriculo
{
    color: black;
    text-align: center;
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Urbanist', sans-serif;
    font-size: 300%;
}

.tituloCurriculo:hover
{
    transform: scale(1.1);
    color: white;
    transition: 0.2s;
}

.tituloSkills
{
    color: black;
    text-align: center;
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Urbanist', sans-serif;
    font-size: 280%;
}

.tituloSkills:hover
{
    transform: scale(1.1);
    color: white;
    transition: 0.2s;
}

.cardRosa 
{
    border-radius: 20px;
}

.card .card-body
{
    background-color: #000000;
}

.progress
{
    width: 100%;
}

.tituloCursos
{
    color: black;
    text-align: center;
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Urbanist', sans-serif;
    font-size: 280%;
}

.tituloCursos:hover
{
    transform: scale(1.1);
    color: white;
    transition: 0.2s;
}

.card .cardProgress
{
    width: 50%;
}

.tituloTrabalho
{
    color: black;
    text-align: center;
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Urbanist', sans-serif;
    font-size: 280%;
}

.tituloTrabalho:hover
{
    transform: scale(1.1);
    color: white;
    transition: 0.2s;
}

.tituloLinguas
{
    color: black;
    text-align: center;
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Urbanist', sans-serif;
    font-size: 280%;
}

.tituloLinguas:hover
{
    transform: scale(1.1);
    color: white;
    transition: 0.2s;
}

/*================================== ESTILIZAÇÃO DO FOTTER ==================================*/
fotter #contato
{
    background-color: black;
    text-align: center;
}

.feito
{
    color: black;
    text-align: center;
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Urbanist', sans-serif;
    font-size: 100%;
}

.feito:hover
{
    cursor: default;
}

.roberto:hover
{
    cursor: default;
}